<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Forgot Password
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='css/style.css' />
</head>

<body>
    <!-- =========>password<============-->
    <div class="password">
        <form class="form" id="pass">
            <h3 style="text-align: center;">Reset Password</h3>
            
            <label for="password">Enter Your Old Password</label>
            <input type="password" id="oldpaswd" name="opassword" placeholder="enter your old password.." required>

            <label for="newfpassword">Enter New Password</label>
            <input type="password" id="newpaswd" name="npassword" placeholder="enter your new password..">

            <label for="confpassword">Conform New Password</label>
            <input type="password" id="confpaswd" name="npassword" placeholder="Conform New password..">

            <input type="submit" value="Submit">

            <div class=" signin">
                <p>Already have an account? <a href="/home">Sign in</a>.</p>
            </div>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script src="/js/news.js"></script>

</html>