<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        signin form
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='css/style.css' />
</head>

<body>
    <!-- =========>login<============-->
    <div class="login">
        <form class="form" id="in">
            <h3 style="text-align: center;">login</h3>

            <label for="email">Enter Your Valid email</label>
            <input type="email" id="logemail" name="email" placeholder="Your valid email.." required>

            <label for="lname">Password</label>
            <input type="password" id="logpass" name="pswd" placeholder="enter your password.." required>

            <input type="submit" value="Submit">

            <div class=" signin">
                <p>New User<a href="/">Sign Up</a>.</p>
            </div>
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/axios.min.js"></script>
<script src="/js/news.js"></script>

</html>